@import "bootstrap";
.card {
  max-width: 320px;
  color: black;
  text-decoration: none;
  &:hover {
    box-shadow: $box-shadow !important;
    color: black;
    cursor: pointer;
  }

  .card-img-top{
    max-height: 260px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-price {
    margin-bottom: 0;
  }
}

