<div class="actions">
  <form method="get">
    <% @game_methods.each do |method_name| %>
      <button class="btn" name="<%= method_name %>"><%= method_name.to_s.sub(/_/, ' ') %></button>
    <% end %>
  </form>
</div>