<div class="content"> 
  <h1 class="title">Authorization page</h1>
    <form method="post" action="/">
      <div class="flex vertical center">
          <input type="text" id="login" name="Login" placeholder="Login" require>
          <input type="text" name="password" placeholder="Password" require>
      </div>
      <div class="flex center">
        <button type="submit" class="btn">Sign in</button>
      </div>
    </form>
</div>
<script type="text/javascript">
const handlerUpdateContent = (event) => {
  event.preventDefault();

  let target = event.target;

  if (target.className === 'btn') {
    let content2 = document.querySelector('.content');
        
    let rawResponse = fetch(`/${target.name}`, {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
      body: JSON.stringify({a: 1, b: 2})
    })

    // const content = await rawResponse.json();
    // console.log(content);
      // .then((response) => console.log(response.text()))
  };
}

document.addEventListener('click', handlerUpdateContent);
</script>