.message {
    padding: 10px;
    margin: 10px;
    border-radius: var(--raidus);
    box-shadow: var(--shadow);
}

.info {
    background-color: #94d6f5;
}

.warring {
    background-color: #f0e43a;
}

.alert {
    background-color: #f0553a;
}